body{
	background-color: #4f6bdb;
	position: center;
}

a{
	color: #ffffff;
	text-decoration: none;
	margin: 5px;
}

.menuNavigation{
	color: #ffffff;
	display: flex;
	flex-direction: column;
	border-radius: solid #ffffff 2px;
}

span{
	color: #ffffff;
}

input{
	margin: 5px;
}

button{
	background-color: #ffffff;
	border-radius: 10px;
	padding: 5px;
}

